body {
    background-color: #f5f9fb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile {
    width: 400px;
    border: 1px solid #7d7e7e;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.description {
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 250px;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name {
    font-size: 36px;
    font-weight: 700;
    margin: 10px;
}

.tag,
.location {
    font-size: 28px;
    font-weight: 500;
    margin: 5px;
}

.stats {
    display: flex;
    background-color: #4c6a55;
    margin: 0;
    padding: 22px 35px;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(100% / 3);
}

.item:not(:last-of-type) {
    border-right: 1px solid #b0b061;
}

.label {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.quantity {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}