.item {
    width: 100%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #7d7e7e;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.avatar {
    border-radius: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.name {
    font-size: 24px;
    font-weight: 500;
}

.status {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 20px;
}